:root {
    --background-color-dark: ;
    --background-color-light: ;

    --font-color-dark: ;
    --font-color-light: ;

    --font-color-secondary-dark: ;
    --font-color-secondary-light: ;
    
    --primary-color-dark: ;
    --primary-color-light: ;

    --secondary-color-dark: ;
    --secondary-color-light: ;

    --white-color: #ffffff;
}