nav(class="navigation")
    div.navigation__toggle
    ul.navigation__list
        li.navigation__link.active(style="--clr: #f44336;")
            a(href="#")
                span.navigation__icon
                    ion-icon(name="home-outline")
                span.navigation__text Home
        li.navigation__link(style="--clr: #ffa117;")
            a(href="#")
                span.navigation__icon
                    ion-icon(name="person-outline")
                span.navigation__text Link 2
        li.navigation__link(style="--clr: #0fc70f;")
            a(href="#")
                span.navigation__icon
                    ion-icon(name="chatbubble-outline")
                span.navigation__text Link 3
        li.navigation__link(style="--clr: #2196f3;")
            a(href="#")
                span.navigation__icon
                    ion-icon(name="camera-outline")
                span.navigation__text Link 4
        li.navigation__link(style="--clr: #b145e9;")
            a(href="#")
                span.navigation__icon
                    ion-icon(name="settings-outline")
                span.navigation__text Link 5