<% var
pageTitle = "Dmitry Chekashov";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include _header %>

<div class="grid">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

<div class="main-block">
	<div class="main-block__bg"></div>
	<div class="main-block__info">
		<div class="main-block__info-center">
			<h1>Dmitry Chekashov</h1>
			<div>
				<p>Hello, World! I’m a frontend developer.</p>
				<p>I ❤️ <b>JavaScript</b>, <b>ReactJS</b> and <b>Layout design</b>.</p>
				<p><a href="https://github.com/DimaChekashov">GitHub</a>, <a href="https://moikrug.ru/foxsayjs">Moikrug</a>, <a href="mailto:foxdima99@gmail.com">E-Mail</a></p>
			</div>
		</div>
	</div>
</div>

<% include _footer %>

